<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/homework.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>

<body>
    <style type="text/css">
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fa {
        font-size: 18px;
    }
    </style>
    <div class="wrapper">
        <div class="sample">
            <!-- <div class="progress">
                    <div class="progress-bar" :style="progressWidth" >{{completed}}</div>
                </div> -->


        <h2 v-if="completed == 100">Успешно
        <span class="fa fa-smile-o"></span>
        </h2>
        <h2 v-else>Заполните все поля
          <span class="fa fa-frown-o"></span>
        </h2>
        <hr />
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" 
               :style="progressWidth"
               :class="{'progress-bar-success' : completed === 100}"
               >
            {{ completed }}%
          </div>
        </div>


            <form class="vue-form" v-if="!formSubmited" @submit.prevent="formSubmited = true">
                 
                <div class="cicle-input" v-for="(item,index) in items">
                    <label class="label">{{ item.name }}
                        <span class="fa" v-if="controls[index].success" :class="controls[index].error ? 
                                                        'fa-exclamation-circle text-danger' : 
                                                         'fa-check-circle text-success'">
                        </span>
                    </label>
                    <input type="text" :value="item.value" @input="test(index,$event.target.value)">
                </div>
                <br>
                <h3>guests</h3>
                <button class="btn btn-primary" @click="newElement($event)">+
                </button>
                <div class="zhora cold-md-5 col-md-offset-7" v-for="(number, index) in numbers">
                    <label @dblclick="removeDoubleClick(index)">
                        Guests {{index}}
                    </label>
                    <input type="text" class="form-control" v-model="numbers[index]">
                </div>
                <br>
                <br>
                <br>
                    <button class="btn btn-primary" :disabled="done < items.length">
                    Отправить форму
                </button>
            </form>
<!--             <table class="table table-bordered" v-else>
                <tr v-for="(value, key, i) in items">
                    <td>{{ i }}</td>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            </table> -->
            <table class="table table-bordered" v-else>
                    <tr v-for="(item, index) in  items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                </table>


        </div>
    </div>
    <script>
    let sample = new Vue({
        el: '.sample',
        data: {
            formSubmited: false,
            numbers: [],
            info: {
                email: '',
                firstName: '',
                lastName: 'Vikulov',
                Phone: '',
            },
            items: [{
                    name: 'Name',
                    value: '',
                    pattern: /^[a-zA-Z ]{2,30}$/
                },
                {
                    name: 'Phone',
                    value: '',
                    pattern: /^[0-9]{7,14}$/
                },
                {
                    name: 'Email',
                    value: '',
                    pattern: /.+/
                },
                {
                    name: 'Some Field 1',
                    value: '',
                    pattern: /.+/
                },
                {
                    name: 'Some Field 2',
                    value: '',
                    pattern: /.+/
                }
            ],
            controls: [],
            completed: 0,


        },

        

        created() {
            for (let i = 0; i < this.items.length; i++) {
                this.controls.push({
                    error: !this.items[i].pattern.test(this.items[i].value),
                    success: this.items[i].value != ''
                });
            }

        },
        methods: {
            test(e, value) {
                let data = this.items[e];
                let pattern = data.pattern
                data.value = value;
                let control = this.controls[e];
                control.error = !pattern.test(value)
                control.success = true;
            },

            newElement(e) {
                e.preventDefault()
                this.numbers.push('');


            },
            removeDoubleClick(index) {
                this.numbers.splice(index, 1);

            },


        },
        computed: {
            done(){
                let done=0;
                for(let i=0; i<this.controls.length; i++){
                    if(!this.controls[i].error===true){
                        done++;
                    }
                }
                return done;
            },
            progressWidth(){
                this.completed= this.done * 2 * 10
                    console.log(this.completed)
                return{
                    width: (this.done / this.items.length * 100) + '%'
                }
            },



        },


    });
    </script>
</body>

</html>