<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/homework.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <style type="text/css">
        .wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <div class="wrapper">
        <div class="sample">
            <form class="vue-form" v-if="!formSubmited" @submit.prevent="formSubmited = true">

                    <label class="label" for="email">Email</label>
                    <input type="text" v-model="info.email" >
                       <br>
                     <label class="label" for="name">Name</label>
                    <input type="text" v-model="info.firstName">
                      <br>
                    <label class="label" for="lastName">lastName</label>
                    <input type="text" v-model="info.lastName">
                            <br>
                    <label class="label" for="Phone">Phone</label>
                    <input type="text"  v-model="info.Phone">
                    <hr>
                    <h3 >Hello, {{ info.firstName }}</h3>

                    <h3 >guests</h3>
                    <button class="btn btn-primary" 
                            @click="newElement($event)">+
                    </button>  


            <div class="zhora cold-md-5 col-md-offset-7" v-for="(number,key, index) in numbers"
                                                         :key="key">
                <label @dblclick="removeDoubleClick(key)" :for="'number'+(key+1)">
                    Guests {{index}} - {{key}} </label>
                <input type="text" class="form-control" v-model="numbers[key]" :id="'number'+(key+1)">
            </div>

                
                     <br>
                     <br>
                          <br>
                    <button class="btn btn-success" >
                        Отправить форму
                    </button> 

                    
                   </form>
                <table class="table table-bordered" v-else>
                    <tr v-for="(value, key, i) in info">
                        <td>{{ i }}</td>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        <td>Guests</td>
                        <td>
                            <ul>
                                <li v-for="(number, index) in numbers">
                                    {{ number }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
                </div>
            </div>
    
    <script>
        let sample = new Vue({
            el: '.sample',
            data: {
                    formSubmited: false,
                    numbers: {},
                    numbersPrimaryKey: 0,
                    info: {
                            email: '',
                            firstName: 'Zhora',
                            lastName: 'Vikulov',
                            Phone: '',
                    },
            },
            methods: {
                newElement(e){
                    e.preventDefault()
                    // Не перезаписываем ключи (что бы индексы не менялись)
                    this.numbersPrimaryKey ++;
                    // this.numbers[this.numbersPrimaryKey]=''
                    this.$set(this.numbers,this.numbersPrimaryKey,'')
                // console.log(this.numbers)
                    // this.numbers.push('');


                },
                removeDoubleClick(index){
                    // this.numbers.splice(index, 1);
                    this.$delete(this.numbers,index);

                },
               


                


            }
        });
    </script>
</body>
</html>